<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187704860363-abf8f332rglujeg4u3na44gac7nt8s8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187704860363-abf8f332rglujeg4u3na44gac7nt8s8f</string>
	<key>API_KEY</key>
	<string>AIzaSyBXDRnLUiasx3LObJ0yyQZaWnwbiP-Fa9U</string>
	<key>GCM_SENDER_ID</key>
	<string>187704860363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firStorage</string>
	<key>PROJECT_ID</key>
	<string>jafisdemodb</string>
	<key>STORAGE_BUCKET</key>
	<string>jafisdemodb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187704860363:ios:c14df987aa1b689721454e</string>
</dict>
</plist>